{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
  <div class=" col-2"> </div>
     <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"> 
    <p>
      Shiver me timbers! This is a blog where the crew of the Queen Anne's Revenge are free to chronicle their lives at sea. These be tales of adventure, thievery, lust, blood lust, and chronic diarrhea from eating too many pickled beets. Arrrg! We all got the  <a href="detail-page.html"> scurvy! </a> The Carribean Sea is the best sea because of all the delicious turtles. The Atlantic is the worst because of the murky waters. 
    </p>
      <ul> 
       {% for entry in entries %}
  <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
  <p class="entry-date">{{ entry.date }}</p>
  <hr>
{% endfor %}
     </ul>
    </div>
  </div>
</div>
{% endblock %}
